<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}default title{% endblock %}</title>
    <script type="text/javascript">{% include "libs/jquery-3.6.0.min.js" %}</script>
    <style>{% include "libs/nord.css" %}</style>
    <style>
        body,html {
            margin: 0;
            height: 100%;
        }
        body{
            overflow-x: hidden;
        }
        #id_content_outer {
            background-color: white;
        }
    </style>
</head>
<body>
    {% include "nav.html" %}
    <div id="id_content_outer">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>